@model SupplierMaintenanceWeb.Models.AddSupplierViewModel

<tr id="newSupplierRow" style="display: none;">
    <td></td>
    <td>
        <input asp-for="SupplierCode" class="form-control" placeholder="Supplier Code" required />
        <span asp-validation-for="SupplierCode" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="Name" class="form-control" placeholder="Supplier Name" required />
        <span asp-validation-for="Name" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="Address" class="form-control" placeholder="Address" required />
        <span asp-validation-for="Address" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="Province" class="form-control" placeholder="Province" required />
        <span asp-validation-for="Province" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="City" class="form-control" placeholder="City" required />
        <span asp-validation-for="City" class="text-danger"></span>
    </td>
    <td>
        <input asp-for="PIC" class="form-control" placeholder="PIC" required />
        <span asp-validation-for="PIC" class="text-danger"></span>
    </td>
</tr>
